<h1>Welcome, <%= current_user.name %>!</h1>
<p>
  <%= link_to "Edit my info", edit_user_path(current_user) %><br />
  <%= link_to 'Create a new to-do list', new_user_task_list_path(current_user) %>
</p>
