<div class="task_list">
  <p>
    <%= link_to h(task_list.name), task_list_path(task_list) %>
    <br />
    created by <%= h task_list.user.name %> <%= h time_ago_in_words(task_list.created_at) %> ago
  </p>
</div>
